*.class

*.aux
*.log
*.out
*.synctex.gz
*.toc

*.o
*.d

*.agignore
.dummy

worker/worker
worker/tests
worker/coverage
worker/run_tests

worker/GPATH
worker/GRTAGS
worker/GTAGS

auto/

local/

tools/__pycache__/

c-source.pdf
elisp-source.pdf
